<div class="container">
        <h2> Charts </h2>
</div>




<div class="container">

  <!-- Below div will take row of charts and each row can have many images you want -->

  	
  		<div class="row">
    	  
	  		<div class="col-md-4">

	  		<!--Putting chart1 in a panel-->

	  			<div class="panel panel-primary panel-hover">
                	<div class="panel-heading">
                    	
                    	<h4>Bugs Per Cycle</h4>
                	</div>

                	<div class="panel-body">
                        <div>
	  				
	    			<canvas tc-chartjs chart-type="line" chart-data="lineChartData" chart-options="options"></canvas>
                        </div>
	    			
	  				</div>
	  			</div>
	  		</div>	

	  		<div class="col-md-4">

	  		<!--Putting each chart2 in a panel-->
	  		
	  			<div class="panel panel-primary">
                	<div class="panel-heading">
                    	<h4>chart 2</h4>
                	</div>
                	<div class="panel-body">

                    <div>
	  			
	    			<canvas tc-chartjs chart-type="pie" chart-data="pieChartData" chart-options="options"></canvas>

                    </div>
	  				</div>
	  			</div>
	  		</div>	

	  		<div class="col-md-4">

	  		<!--Putting each chart3 in a panel-->
	  		
	  			<div class="panel panel-primary">
                	<div class="panel-heading">
                    	<h4>Bugs Per Cycle</h4>
                	</div>
                	<div class="panel-body">
                    <div>
	  			
	    			<canvas tc-chartjs chart-type="bar" chart-data="lineChartData" chart-options="options"></canvas>
	  				</div>
                    </div>
	  			</div>
	  		</div>	

	  		<div class="col-md-4">

	  		<!--Putting each chart4 in a panel-->
	  		
	  			<div class="panel panel-primary">
                	<div class="panel-heading">
                    	<h4>Doughnut</h4>
                	</div>
                	<div class="panel-body">
                    <div>
	  			
	    			<canvas tc-chartjs chart-type="doughnut" chart-data="pieChartData" chart-options="options"></canvas>

                    </div>
	  				</div>
	  			</div>
	  		</div>	
            <!--Putting each chart5 in a panel-->
            
            <div class="col-md-4">

            <!--Putting each chart4 in a panel-->
            
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Bugs per Cycle</h4>
                    </div>
                    <div class="panel-body">

                    <div>
                
                    <canvas tc-chartjs chart-type="bar" chart-data="lineChartData" chart-options="options"></canvas>

                    </div>
                    </div>
                </div>
            </div>  

            <div class="col-md-4">
            <!--Putting each chart6 in a panel-->
            
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Doughnut</h4>
                    </div>
                    <div class="panel-body">

                    <div>
                        
                            <canvas tc-chartjs chart-type="pie" chart-data="pieChartData" chart-options="options"></canvas>
                    </div>
                        
                    </div>
                </div>
            </div>	  		
		</div> <!-- Closing the row div -->
</div>